.toolsContainer {
  margin-top: 12px;
}
.toolsLabel {
  border-radius: 2px;
  background-color: #ffffff;
  padding: 10px 20px;
  font-size: 14px;
  margin-bottom: 2px;

  > span {
    color: #b2bac2;
    font-weight: normal;
    font-size: 12px;
  }
}
.gridContainer {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 10px;

  > * {
    min-width: 0 !important;
  }
}