.articlesContainer {
  padding-top: 20px;

  .articlesLi {
    display: flex;
    justify-content: space-between;
    align-items: center;

    font-size: 20px;
    padding: 20px 30px;
    border-radius: 4px;
    background: #fff;

    > img {
      width: 16px;
      height: 16px;
    }
  }
}